# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
*.swp

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Data & outputs (optional, if you don’t want to upload large files)
data/
outputs/

# Logs
*.log

# Models (optional, if large)
models/
